<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/auth/registration_form.css">
    
</head>

<body onload="hideDoctorFields()">

    <header class="w3-container w3-teal">
        <h1>Registration form</h1>
        <h6>Patients should fill all mandatory fields</h6>
    </header>

    <div class="w3-container w3-half w3-margin-top">

        <form id="regForm" class="w3-container w3-card-4" th:action="@{/user/register}" method="post" enctype="multipart/form-data">
                <!-- starts here -->

                    <!-- One "tab" for each step in the form: -->
                    <!--<div class="tab">Name:
                      <p><input type="text" placeholder="First name..." oninput="this.className = ''" name="firstName"></p>
                      <p><input type="text" placeholder="Last name..." oninput="this.className = ''" name="lname"></p>
                    </div>-->

                    <div class="tab"> 
                        <div style="text-align: center; font-size: 24px;">Personal info</div>
                        <hr>
                        <label>Firstname*</label>
                        <p><input type="text" placeholder="Steven" oninput="this.className = ''" name="firstName" minlength="5" maxlength="25" required/></p>
        
                        <label>Lastname*</label>
                        <p><input type="text" placeholder="Hawkins" oninput="this.className = ''" name="lastName" minlength="5" maxlength="25" required/></p>
        
                        <label>Verification code - ЕГН*</label>
                        <p><input type="text" placeholder="0314228734" oninput="this.className = ''" name="verificationCode" minlength="10" maxlength="10" required/></p>

                        <label>Phone number*</label>
                        <p><input type="text" placeholder="+359876282374" oninput="this.className = ''" name="phoneNumber" minlength="3" maxlength="15"/></p>
                    </div>

                    <div class="tab">
                        <div style="text-align: center; font-size: 24px;">Address data</div>
                        <hr>
                        <label>Street name*</label>
                        <p><input type="text" placeholder="Selvi street" oninput="this.className = ''" name="street" minlength="2" maxlength="20" required/></p>

                        <label>City*</label>
                        <p><input type="text" placeholder="Paris" oninput="this.className = ''" name="city" maxlength="20" required/></p>
        
                        <label>Postcode*</label>
                        <p><input type="number" name="postCode" oninput="this.className = ''" maxlength="5" placeholder="5630" required/></p>
                    </div>

                    <div class="tab">
                        <div style="text-align: center; font-size: 24px;">Profile info</div>
                        <hr>
                        <label id="imageLabel"><b>User profile image*</b></label>
                        <input type="file" title="file" oninput="this.className = ''" class="form-control" name="userImage" accept="image/png, image/jpeg" required>
                        
                        <hr>

                        <label><b>Choose type of profile:</b></label>
                        <br>

                        <label for="auctionOpt">I'm a patient</label>
                        <input type="radio" style="width: auto;" oninput="this.className = ''" onclick="hideDoctorFields()" name="isUserDoctor" value="false" checked="checked">
                        <br>
                        <label for="auctionOpt">I'm a doctor</label>
                        <input type="radio" style="width: auto;" oninput="this.className = ''" onclick="showDoctorFields()" name="isUserDoctor" value="true">

                    </div>

                    <div class="tab" id="doctorTab">
                        <div style="text-align: center; font-size: 24px;">Doctor specifics</div>
                        <hr>
                            <label>Department</label>
                            <select class="form-control" name="department" title="department">
                                <option id="departmentOption" th:each="department : ${T(com.example.RestOAuth2JPA.enums.HospitalDepartments).values()}" th:text="${department.getDepartmentName()}" th:value="${department}"></option>
                            </select>
        
                            <label>Position name</label>
                            <p><input type="text" oninput="this.className = ''" name="positionName" minlength="3" maxlength="63" placeholder="ortoped"/></p>
                    </div>

                    <div class="tab">
                        <div style="text-align: center; font-size: 24px;">Credentials</div>
                        <hr>
                            <label>Username*</label>
                            <p><input type="text" oninput="this.className = ''" name="username" minlength="5" maxlength="25" placeholder="user123" required/></p>

                            <label>Email*</label>
                            <p><input type="text" oninput="this.className = ''" name="email" style="width:90%" required></p>
            
                            <label>Password*</label>
                            <p><input type="password" oninput="this.className = ''" name="password" style="width:90%" required></p>
                    </div>

                    <div style="overflow:auto;">
                      <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                      </div>
                    </div>

                    <div id="stepsSpan" style="text-align:center;margin-top:40px;">
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                    </div>
                    <!--<div class="tab">Login Info:
                      <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
                      <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>
                    </div> -->
                    <!-- Circles which indicates the steps of the form: -->

                <!-- ends here -->
                <!--<h6>Personal info:</h6>
                <div>
                    <label>Firstname*</label>
                    <input type="text" name="firstName" minlength="5" maxlength="25" placeholder="Steven" required/>
                </div>
    
                <div>
                    <label>Lastname*</label>
                    <input type="text" name="lastName" minlength="5" maxlength="25" placeholder="Hawkins" required/>
                </div>
    
                <div>
                    <label>Verification code - ЕГН*</label>
                    <input type="number" name="verificationCode" minlength="10" maxlength="10" placeholder="0314228734" required/>
                </div>
    
                <div>
                    <h6>Address data:</h6>
                    <div>
                        <label>Street name*</label>
                        <input type="text" name="street" minlength="2" maxlength="20" placeholder="Selvi street" required/>
                    </div>
    
                    <div>
                        <label>City*</label>
                        <input type="text" name="city" maxlength="20" placeholder="Paris" required/>
                    </div>
    
                    <div>
                        <label>Postcode*</label>
                        <input type="number" name="postCode" maxlength="5" placeholder="5630" required/>
                    </div>
                </div>

                <div>
                    <label id="imageLabel"><b>User profile image</b></label>
                    <input type="file" id="userImage" title="file" class="form-control" name="userImage" accept="image/png, image/jpeg" required>
                </div>

                <div>
                    <label><b>What profile do you want to create?</b></label>
                    <br>
                    <label for="auctionOpt">I'm a patient</label><br>
                    <input type="radio" id="auctionOption1" onclick="hideDoctorFields()" name="isUserDoctor" value="false" checked="checked" title="userRoleOptions">
                    <label for="auctionOpt">I'm a doctor</label>
                    <input type="radio" id="auctionOption" onclick="showDoctorFields()" name="isUserDoctor" value="true" title="userRoleOptions">
                </div>

                <div id="phoneNumber" style="display: none;">
                    <label>Phone number</label>
                    <input type="text" id="phoneNumberInput" name="phoneNumber" minlength="3" maxlength="15" placeholder="+359876282374"/>
                </div>

                <div id="department" style="display: none;">
                    <label>Department</label>
                    <select class="form-control" id="departmentOptions" name="department" title="department">
                        <option id="departmentOption" th:each="department : ${T(com.example.RestOAuth2JPA.enums.HospitalDepartments).values()}" th:text="${department.getDepartmentName()}" th:value="${department}"></option>
                    </select>
                </div>

                <div id="positionName" style="display: none;">
                    <label>Position name</label>
                    <input type="text" id="positionNameInput" name="positionName" minlength="3" maxlength="63" placeholder="ortoped"/>
                </div> -->

                <!--<div>
                    <button type="submit" id="file-submit" class="btn btn-primary">Submit</button>
                </div> -->

        </form>

    </div>
    
    <script src="/scripts/auth/registration_form.js"></script>
</body>

</html>