
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/user_patient/patient_profile_page.js"></script>
    <head>
        <title>Hello World!</title>
    </head>
    <body onload="setColorToPatientStatus()">
      <h1>Patient profile page</h1>
        <section style="background-color: #eee;">
            <div class="container py-5">
              <div class="row">
                <div class="col">
                  <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                  </nav>
                </div>
              </div>
          
              <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img th:src="${userPatient.profileImage.imagePath}" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                      <h5 class="my-3" th:text="${userPatient.getUsername()}"></h5>
                      <p class="text-muted mb-1" th:text="${userPatient.patient.personalInfo.firstName + ' ' + userPatient.patient.personalInfo.lastName}"></p>
                    </div>
                  </div>
                  <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                      <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <a th:href="@{/logout}" style="font-size:20px; width: 45%;" class="btn btn-danger">Logout <i class="fa fa-close"></i></a>
                          <button style="font-size:20px; width: 45%;" class="btn btn-outline-primary">Edit <i class="fa fa-pencil"></i></button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0" th:text="${userPatient.patient.personalInfo.firstName + ' ' + userPatient.patient.personalInfo.lastName}"></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0" th:text="${userPatient.email}"></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Personal identifier (ЕГН)</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0" th:text="${userPatient.patient.personalInfo.verificationCode}"></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Address</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0" th:text="${userPatient.patient.personalInfo.getAddress().postCode + ' ' +
                                                                userPatient.patient.personalInfo.getAddress().street + ' ' + 
                                                                userPatient.patient.personalInfo.getAddress().city}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                          <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                              <span>Current health status:</span>
                              <p class="mb-0" id="patientStatus" th:text="${userPatient.patient.status}"></p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" th:if="${patientHasDoctor}">
                      <div class="card mb-4 mb-md-0">
                          <div class="card-body text-center">
                            <img th:src="${patientDoctor.profileImage.imagePath}" alt="avatar"
                              class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3" th:text="${patientDoctor.doctor.personalInfo.firstName + ' ' + patientDoctor.doctor.personalInfo.lastName}"></h5>
                            <p class="text-muted mb-1" th:text="${'position: ' + patientDoctor.doctor.positionName}"></p>
                            <div class="d-flex justify-content-center mb-2">
                              <button type="button" class="btn btn-outline-primary">View notes</button>
                              <button type="button" class="btn btn-danger ms-1">Cancel healing</button>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6" th:unless="${patientHasDoctor}">
                      <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                          <label for="cars">Choose a doctor:</label>

                          <select class="form-control" name="doctor" id="doctors" title="doctorsSelect" onchange="redirectSelect(this)">
                            <option selected disabled>Select a doctor</option>
                            <option th:each="doctorUser : ${doctorUsers}" th:value="@{|/user/doctor/profile/${doctorUser.key}|}" 
                                    th:text="${doctorUser.value}"></option>
                            <option value="#">Valeri halvadjian, ortopediq i travmatologiq</option>
                          </select>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        <!--<h1>Successful login</h1>
        <a href="/user/register">Please register here</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form> -->
    </body>
    <script src="/scripts/user_patient/patient_profile_page.js"></script>  
</html>